Screen {
    layers: below above;
}



startScreenButton {
    
    width: 70%;
   
    
}

/* StartScreen {
    align: center middle;
} */

/* Container {
    align: center middle;
    border: round;

} */

newCharacterStats {
    /* width: 50; */
    /* height: 70vh; */
    layout: grid;
    grid-size: 4 8;
    /* grid-columns: 1fr 2fr; */
    border: round;


}

namePicker {
    border: round;
    width: 70w;
}


.namePickerMark {

    width: 50%;
    align: center middle;
    border: round;
    

}

.namePickerScreenHeight {
    height: 3fr;
}

.namePickerCenter {
    width: 50%;
    align: center middle;
}

.height80 {
    height: 80h;
}

.height20 {
    height: 1fr;
    align: center middle;
}

/* ---------------Name Creator CSS--------------- */

nameCreator {
    border: round;
    width: 70w;
    height: 4fr;
}


.gridTest {
    layout: grid;
    grid-size: 2 2;
    border: round;
}

.nameCreatorMark {
    width: 70w;
    align: center middle;
    border: round;
    content_align_horizontal: center;

}

.nameCreatorButton {
    align: center middle;
    /* border: round; */

}

.nameCreatorInput {
    align: center middle;
    content-align-horizontal: center;
}

.nameCreatorCenter {
    align: center middle;
    height: 40h;
    border: round;
}


.AbScoreData {
    align: center middle;
    width: 30w;
}

.AbScoreButton {
    align: center middle;
    width: 20w;
}

.DTCenter {
    align: center middle;
    width: 50%;
}

.fiftyPercent_AbScoreScreen {
    width: 50%;
    
}

.bold {
    
    text-style: bold italic;
    text-align: center;
    color: $text;
    background: $primary;
    width: 1fr;
    /* padding: 1; */
    border: round;
    height: auto;

}

.attributeLabel {
    width: 1fr;
    text-align: center;
    padding: 1;
}

.AbScoreHorizHeight {
    height: 65%;
    
}

.twentyPercentHeight {
    height: 30%;
}

.containerBorder {
    border: round;
    align: center middle;
    opacity: 1;
}

.startScreenBtn {
    border: round;
    align: center middle;
    content-align-horizontal: center;

}

.abilityScreenBtn {
    border: round;
    align: center middle;
    content-align-horizontal: center;
    column-span: 2;

}



#startScreenMenu {
    align: center middle;
    layout: horizontal;
}

._1fr {
    dock: bottom;
    height: 20vh;
    width: 25%;
    align-horizontal: center;
    opacity: 0;
}


#words {
    content-align-horizontal: center;
    color: azure;
}

/* Screen {
    align: center middle;
    border: heavy round;
    layers: below above;
} */

ChooseRaceScreen {
    align: center top;


}

.choose_race_screen_80 {
    align: center top;
    width: 79w;
}

.choose_race_screen_20 {
    align: center middle;
    width: 19w;
    border: round $primary;
}

.choose_race_screen_hz {
    align: center middle;
}

.ta_class {
    text-align: center;
}

.class_button {
    align-horizontal: center;
}

.border {
    border: round;
}

.hkey {
    border: hkey;
    height: auto;
    align: center middle;
}

.dice_ascii {
    content-align-horizontal: center;
}


/* ----------------Dice Sidebar CSS------------------- */

Dice {
    width: 30vw;
    layer: below;
    offset-x: -100;
    dock: left;
    border: heavy round;
    text-style: bold;
}

Dice.-active {
    offset-x: 0;
    layer: above;
    width: 30vw;
    dock: left;
}

.dice_50 {
    /* width: 50w; */
    align: center middle;
    border: round;
    height: auto;
}

.dice_auto {
    width: auto;
    border: round;
}

.dice_label {
    width: auto;
    border: round;
    background: $primary;
}

.dice_horiz {
    align: center middle;
    height: auto;
}

/* ------------------------ Green Text --------------------------- */

.green {
    color: rgb(0, 255, 0);
    
}